@import "../styles.scss";
.about {
  padding: 10px 0px;
  margin: 10px 0px;
  .about_body {
    p {
      color: $color-black;
      font-weight: 500;
    }
  }
  .subheading {
    h3 {
      span {
        text-decoration: underline;
        text-decoration-color: $border-secondary;
        text-underline-offset: 8px;
      }
    }
  }
  .collection_button {
    width: 100px;
    height: 100px;
    padding: 2px;
    margin: 2px 5px;
    border-radius: 5px;
    border: 1px solid $border-secondary;
    img {
      width: 100%;
      height: 100%;
    }
    span {
      font-weight: 600;
    }
  }
}
