@import "../styles.scss";
.forgotPassword_sec {
  h4 {
    color: $color-primary;
    font-weight: $fw-400;
    text-align: center;
  }
  form {
    .form_group {
      margin-bottom: $m-15;
      label {
        span {
          color: $color-primary;
        }
      }
      span {
        font-weight: $fw-400;
        a {
          color: $color-sky-blue;
          text-underline-offset: 4px;
          font-weight: $fw-400;
        }
      }
    }
  }
  .message {
    color: $color-primary;
  }
}
