@import "../styles.scss";

.left_side {
  position: sticky;
  top: 170px;
  .custom_logout {
    width: 100%;
    border: none;
    background: none;
  }
  .profile_tab {
    display: flex;
    align-items: center;
    // border: $border-1 solid $border-primary;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: $p-10;
    border-radius: $border-5;
    margin-bottom: $m-15;
    svg {
      color: $color-primary;
      margin-right: $m-6;
      font-size: $fs-24;
    }
    h6 {
      margin: $m-0;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    background-color: $color-secondary;
  }
}
